.abtimg-left-sd{
    background-image: url(../Assets/mockup\ 1.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 600px;
    clip-path: polygon(18% 0,100% 0,80% 100%,0 100%);
}

.abtalignment-right-sd{
     padding-top: 150px;
    
}


.missionimg-left-sd img{
    height: 600px;
    
    clip-path: polygon(18% 0,100% 0,80% 100%,0 100%);
    padding-top: 100px;
    

}

.ourvalueimg-left-sd{
    height: 600px;
    padding-top: 100px;
    clip-path: polygon(18% 0,100% 0,80% 100%,0 100%);
}