.aversa-images-of-hexagone {
  height: 100%;
  width: 100%;
  clip-path: polygon(18% 0, 100% 0, 80% 100%, 0 100%);
}

.aversa-herbals-head-tag {
  font-family: Century Gothic;
  font-size: 48px;
  font-weight: 700;
  line-height: 51px;
  text-align: center;
  color: #266431;
  font-style: bold;
}

.aversa-herbals-para-tag-one {
  /* color: #000000; */
  color: #266431;
  text-align: justify;
  /* font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif; */
  font-size: 1rem;
  padding: 9px;
}

.landing-page-section-one-bg {
  background: linear-gradient(45deg, #c8ffd3, transparent);
}

.aversa-product-title {
  color: white;
  /* font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif; */
  font-size: 2rem;
  /* text-align: center; */
}

.aversa-prducts-price {
  /* font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif; */
  font-size: 1rem;
  color: black;
  margin: 0px;
}

.registration-page-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Assets/bgimageforsignupform.jpeg");
  background-size: cover;
  background-position: center;
}

.registration-content {
  padding: 4em 0;
}
.regi-stration-from-bg {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  width: 519px;
  top: 250px;
  left: 728px;
  gap: 0px;
  /* opacity: 0px; */
}

.registration-input-form-input-tag {
  font-size: 13px;
}

.login-page-background {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../Assets/bgimageforsignupform.jpeg");
  background-size: cover;
  background-position: center;
}

.cart-page-of-aversa-bg {
  background-color: #8080802b;
  padding: 30px;
}

.products-page-linear-gradient-bg {
  background: linear-gradient(45deg, #eec80d, #0dcaf080, #eec80d);
}

.businessopportunity-background {
  background-image: url("../Assets/businessopportunitybg.webp");
  width: 100%;
  height: 100%;
  background-size: cover;
}

.aversa-herbals-head-tag-business {
  color: white;
  font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 5rem;
  line-height: 1;
  padding: 9px;
}
.aversa-herbals-head-tag-contact-us {
  color: #266431;
  font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 6rem;
  line-height: 1;
  padding: 9px;
}

.aversa-images-of-no-hexagone {
  width: 574px;
  height: 430px;
  top: 3195px;
  left: 782px;
  gap: 0px;
  border-radius: 11px 0px 0px 0px;
  opacity: 0px;
}

.background-video {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
  z-index: -1; /* Ensure the video is behind other content */
  border-bottom-left-radius: 50px; /* Adjust the radius as needed */
  border-bottom-right-radius: 50px;
}

.landing-page-scroll-product {
  display: flex;
  overflow-y: hidden;
  /* gap: 20px; */
  overflow-x: scroll;
}

.landing-page-scroll-product::-webkit-scrollbar {
  /* width: 3px;  */
  height: 10px;
  cursor: pointer;
}

.landing-page-scroll-product::-webkit-scrollbar-track {
  background-color: transparent;
}

.landing-page-scroll-product::-webkit-scrollbar-thumb {
  background-color: #266431;
  border-radius: 10px;
}

.landing-page-scroll-product::-webkit-scrollbar-corner {
  background-color: transparent;
}

.web-navbar-advertise-bg {
  background-color: #ac1f29;
  padding: 5px;
  color: white;
  width: 100%;
  height: 55px;
}

.home-page-advertise-h-tag {
  font-size: 14px;
  margin: 0px;
  font-family: Koulen;
}

.business-opportunity-bg-padding {
  padding-left: 40px;
  padding-right: 40px;
  margin: 9em 0;
}
.business-opportunity-bg {
  background-color: #d9d9d9;
  padding: 30px;
  border-top-left-radius: 170px;
  border-bottom-right-radius: 170px;
}

.images-in-business-in-home-page {
  height: 300px;
  width: 80%;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px #266431;
}
.images-in-business-in-home-page-h3-tag {
  color: #266431;
  font-family: Century Gothic;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  padding-top: 10px;
}
.images-in-business-in-home-page-p-tag {
  color: #266431;
  font-family: Century Gothic;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
}
.business-opportunity-bg .custom-business-opportunity-home-page-row {
  margin-top: -135px;
}

.add-product-page .form-label {
  margin: 0px;
  font-weight: 700;
}
.add-product-page .form-control {
  margin-bottom: 15px;
}
.add-product-page .btn-primary {
  margin-bottom: 10px;
}
.add-product-page .btn-danger {
  margin-bottom: 10px;
}

.custom-div-in-top-products {
  padding-left: 40px;
  padding-right: 40px;
}

.product-list-product-image {
  height: 323px;
  object-fit: cover;
  /* width: 40%; */
}

.product-list-product-image-below-div {
  background-color: #d9d9d9;
  /* background-color: #d9d9d924; */
  /* padding: 10px; */
  margin-top: -150px;
  border-radius: 11px;
  padding: 1em;
}
.product-list-product-image-below-div-two {
  padding-top: 150px;
  background-color: #d9d9d9;
}
.product-list-component-padding {
  padding-left: 25px;
  padding-right: 90px;
}
.product-list-product-image-below-div-two h3 {
  margin: 0px;
  color: #266431;
  font-family: Century Gothic;
  font-weight: 700;
  font-size: 19px;
}

.product-list-product-image-below-div-two p {
  margin: 0px;
  color: #676d75;
  font-size: 10px;
}
.button-for-add-to-wishlist {
  width: 100%;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 9px;
  font-weight: 700;
  font-family: Century Gothic;
  font-size: 14px;
  padding: 5px;
  margin-top: 5px;
}
.web-navba-profile-screen {
  position: absolute;
  top: 60px;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 2.1);
  padding: 10px;
  border-radius: 3px;
}
.button-for-add-to-cart {
  width: 100%;
  background-color: #000000;
  border: 1px solid #000000;
  border-radius: 9px;
  color: white;
  font-weight: 700;
  font-family: Century Gothic;
  font-size: 14px;
  padding: 5px;
  margin-top: 5px;
}
.share-button-in-product-details {
  background-color: #d9d9d9;
  border-radius: 25px;
  padding: 11px;
  width: fit-content;
}

.add-to-cart-product-details-btn {
  width: 100%;
  padding: 10px;
  background-color: #266431;
  color: white;
  /* font-family: Inter; */
  font-size: 18px;
  border: none;
  border-radius: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.add-to-wishlist-product-details-btn {
  width: 100%;
  padding: 10px;
  background-color: white;
  color: #266431;
  /* font-family: Inter; */
  font-size: 18px;
  border: 1px solid #266431;
  border-radius: 15px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.product-details-benefits-div {
  background-color: #266431;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 11px;
  /* margin-bottom: 9px; */
}
.product-category-card-in-list {
  background-color: #d9d9d9;
  padding: 10px;
  border-radius: 11px;
  width: 100%;
}

.ingredients-image-inproduct-details {
  height: 170px;
  width: 170px;
}
.ingredients-background-div-in-product-details {
  background-color: #d9d9d9;
  text-align: center;
  width: fit-content;
  border-radius: 92px;
}

.product-category-types-p-tag-in-list {
  color: #266431;
  font-weight: 600;
  cursor: pointer;
  font-size: 17px;
}

.billing-table {
  width: 100%;
  border: 1px solid black;
  padding: 8px;
}

.billing-table th,
.billing-table td {
  border: 1px solid black;
  padding: 8px;
}

.billing-table th {
  text-align: center;
}

.billing-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.product-list-price-span-tag {
  font-size: 20px;
  color: black;
  font-weight: 700;
}

.product-details-main-page-products-detail-naem p {
  margin: 0px;
  color: #676d75;
  font-size: 15px;
}
.registration-form-main-div .form-label {
  margin-bottom: 0px;
  margin-top: 5px;
  font-size: 13px;
  padding-bottom: 0.5em;
  font-weight: 500;
  font-style: Inter;
}

.register-now-business-opp-btn {
  border: 1px solid #266431;
  background-color: white;
  padding: 5px;
  border-radius: 24px;
  color: #266431;
  display: flex;
  align-items: center;
  gap: 0.5em;
  width: 9em;
  justify-content: center;
}

.display-mobile-abdul-image {
  display: none;
}

/* Container styles */
.scrolling-text-container {
  background-color: #eff5ff;
  border-radius: 4px;
  overflow: hidden;
}

/* Inner container styles */
.scrolling-text-inner {
  display: flex;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 600;
  padding: 8px 0;
}

/* Text styles */
.scrolling-text {
  display: flex;
}

.scrolling-text-item {
  padding: 0 30px;
}

.scroll-titles {
  white-space: nowrap; /* Ensure titles stay in a single line */
  animation: scroll 15s linear infinite; /* Adjust duration and timing function as needed */
}

/* ak styles css */

.aversa-herbals-para-tag-one {
  font-size: 21px;
  color: #266431;
  margin-top: -20px;
}

.contact-us-icon {
  width: 91.81px;
  height: 91.82px;
  /* top: 10.6px;
left: 10.59px; */
  gap: 0px;
  border: 6.25px 0px 0px 0px;
  /* opacity: 0px; */
}
.icon-texts {
  font-family: Century Gothic;
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
  color: #676d75;

  text-align: center;
}

.icon-texts-text {
  font-family: Century Gothic;
  color: #676d75;
  font-size: 12px;
  font-style: italic;
  font-weight: 700;
  line-height: 7px;
  text-align: center;
}
.icon-div-conact-us {
  display: flex;
  align-items: center;
}
.about-section-heading {
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  color: #266431;
}

.about-sub-heading {
  font-family: Century Gothic;
  font-size: 48px;
  font-weight: 700;
  line-height: 58.85px;
  text-align: left;
  color: #266431ad;
}
.para-sub-heading-about {
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: 400;
  line-height: 28.2px;
  text-align: left;
  color: #676d75;
}
.title-cu {
  position: absolute;
  top: 93%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  width: 41%;
  font-style: italic;
}
.title-about {
  position: absolute;
  top: 95%;
  left: 90%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 5rem;
  width: 41%;
  font-style: italic;
}

/* contact us css Prasad*/
.container-for-contact {
  width: 75em;
}
.join-us-form-containers {
  width: 75em;
  display: flex;
  justify-content: center;
  border-radius: 20px;
  border: 3px solid #266431;
  /* opacity: 0px; */
}
.action-btn-contact {
  display: flex;
  justify-content: center;
  padding: 3em 0;
}
.email-contact-chat-with-us-cards-section {
  width: 60em;
}
.address-and-the-map-section-contact-us {
  display: flex;
  justify-content: space-around;
}
.column-for-map-and-address-contact {
  height: 45em;
  width: 40%;
  gap: 1em;
  flex-direction: column;
  display: flex;
}
.image-container-for-join-us-section-two-contact-page {
  height: 384px;
  background-image: url("../Assets/bottomimgaboutcontact.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  /* padding-left: 4em;
  margin-left: 12px; */
  border-radius: 20px 0 0 20px;
}
.image-container-for-join-us-section-two-business-opportunity-page {
  height: 384px;
  background-image: url("../Assets/businessformimg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  /* padding-left: 4em;
  margin-left: 12px; */
  border-radius: 20px 0 0 20px;
}

.header-text-join-us-section {
  /* font-family: Raleway; */
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  text-align: left;
  color: #266431b2;
}
.bottom-text-join-us-section {
  font-family: Century Gothic;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.18px;
  text-align: left;
  color: #676d75;
}
.I-agree-to-the-privacy-policy {
  padding-bottom: 0;
}
.check-box-agree-and-send-btn {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 1em 0;
}
.send-button-for-join-us-form {
  width: 6em;
  height: 2em;
  /* border: 1px solid #266431b2; */
  border-radius: 16px;
  background-color: #266431;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contain-image-for-founding-vision img {
  width: 83%;
  object-fit: cover;
}
.header-for-abouts-section-text {
  font-family: Century Gothic;
  font-size: 48px;
  line-height: 57.2px;
  text-align: left;
  color: #266431;
}
.MISSION-for-abouts-section-text {
  font-family: Century Gothic;
  font-size: 36px;
  font-style: italic;
  line-height: 51px;
  text-align: left;
  color: #266431;
}
.MISSION-bharat-for-abouts-section-text {
  font-family: Century Gothic;
  font-size: 36px;
  line-height: 51px;
  text-align: left;
  color: #266431;
}
.para-text-for-the-abouts-section {
  font-family: Century Gothic;
  font-size: 23px;
  /* font-weight: 400; */
  line-height: 28.2px;
  text-align: left;
  color: #676d75;
  padding: 3em 0;
}
.right-column-for-home-page-first-div {
  display: grid;

  padding: 3em 0;
  gap: 1em;
}
.landing-page-team-img {
  width: 482px;
  height: 298px;
  object-fit: cover;
  border-radius: 13px;
}

.branch-image {
  object-fit: cover;
  width: 541px;
  /* height: 298px; */
  /* position: absolute; */
}
.including-text-for-home-products {
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: 700;
  line-height: 19.99px;
  text-align: left;
  color: #266431;
}
.see-all-top-detail-button {
  background-color: #266431;
  border-radius: 20px;
  color: white;
  /* font-family: Prata,ui-serif,Georgia,Cambria,Times New Roman,Times,serif; */
  padding: 8px;
  border: none;
  cursor: context-menu;
  font-size: 13px;
}
.explore-our-range-of-text-home-page {
  font-family: Century Gothic;
  font-size: 48px;
  font-weight: 400;
  line-height: 51px;
  text-align: left;
  color: #266431;
  margin: 0;
}
.images-of-top-products-in-home-slider-section {
  border-radius: 9px;
  background-color: rgb(217, 217, 217);
  padding: 35px;
  object-fit: cover;
  height: 26em;
}
.paragraph-text-for-home-page-third-section-why-products {
  font-family: Century Gothic;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.07px;
  text-align: left;
  color: #266431;
  padding: 2em 0;
}
.see-all-products-button {
  background-color: #266431;
  border-radius: 41px;
  color: white;
  /* font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times, serif; */
  padding: 13px;
  height: 2em;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.left-side-column-for-all-product-page {
  flex-direction: column;
  display: flex;
  gap: 1em;
}
.Join-Us-Now-btn-home {
  border: 1px solid #266431;
  border-radius: 41px;
  color: #266431;
  /* font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times, serif; */
  padding: 13px;
  height: 2em;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.para-for-main-bussiness-op-pag {
  font-family: Century Gothic;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  text-align: center;
  padding: 2em 0;
}
.border-for-each-product-in-product-age {
  border: 0.2px solid #26643157;
  border-radius: 11px;
  /* width: 340px; */
  width: 100%;
  height: 478px;
  padding-top: 1em;
}
.cover-imag-product-page-cc {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.home-page-advertise-h-tag-terms-and-conditions {
  font-size: 6px;
}
.aversa-herbals-head-tag-b-section-two-direct-seller {
  font-family: Century Gothic;
  font-size: 48px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  color: #266431;
  font-style: bold;
}
.col-for-aversa-herbal-section-two-direct-seller-bussiness-op {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.rectangle-for-abdul-kalam-bill-gates-image-one {
  width: 80px;
  height: 15px;
  top: 5871px;
  left: 1px;
  gap: 0px;
  border-radius: 0px 7.5px 7.5px 0px;
  opacity: 0px;
  background: #26643126;
}
.rectangle-for-abdul-kalam-bill-gates-image-two {
  width: 614px;
  height: 15px;
  top: 5871px;
  left: 828px;
  gap: 0px;
  border-radius: 7.5px 0px 0px 7.5px;
  opacity: 0px;
  background: #26643126;
}
.contains-main-text-for-abdul-kalam-section {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 3em 0;
  margin: 0;
}
.benefits-of-being-direct-seller-section-bo {
  max-width: 100%;
  height: 693px;
}
.aversa-logo-png-all {
  width: 160px;
  height: 135px;
  gap: 0px;
  opacity: 0px;
}
.two-cols-for-registration-form-and-logo {
  align-items: center;
  display: flex;
  gap: 18em;
}
.label-for-sign-up-form {
  font-size: 13px;
}
.Benefits-of-being-a-Direct-seller {
  font-family: Century Gothic;
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  color: #266431;
  padding: 0 3em;
}
.benefitsOfDirectSelling4-img {
  object-fit: cover;
  width: 192px;
  border-radius: 11px;
  height: 324px;
}
.benefitsOfDirectSelling3-img {
  object-fit: cover;
  width: 192px;
  height: 159px;

  border-radius: 11px;
}

.bg-for-anti-diabatic {
  background-image: url("../Assets/anti_Diabatic.png");
  z-index: -1;
  /* height: 597px; */
  /* width: 50%; */
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: -100px;
}
.second-half-diabatic {
  background-image: url("../Assets/anti_Diabatic.png");

  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}
.best-selling-heading {
  font-family: Century Gothic;
  font-size: 48px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: -1.559999942779541px;
  text-align: left;
}

.antidiabetic-wrapper {
  background-size: contain;
  height: 300px;
  margin-top: 40px;
  background-repeat: no-repeat;
}

.antidiabetic-title {
  color: #266431;
  font-family: "Century Gothic";
  font-size: 40px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
}

.antidiabetic-subtitle {
  color: #266431;
  font-family: "Century Gothic";
  font-size: 24px;
  font-weight: 400;
  line-height: 62px;
  text-align: center;
}

.antidiabetic-button {
  background-color: #266431;
}

/* Responsive styles */
@media (min-width: 1024px) {
  .antidiabetic-wrapper {
    height: 100vh;
  }

  .antidiabetic-title {
    font-size: 50px;
    line-height: 72px;
  }

  .antidiabetic-subtitle {
    font-size: 30px;
    line-height: 72px;
  }

  .antidiabetic-button {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@keyframes scroll {
  from {
    transform: translateX(0); /* Start from initial position */
  }
  to {
    transform: translateX(-100%); /* Scroll to the left infinitely */
  }
}

@media screen and (max-width: 768px) {
  .aversa-herbals-head-tag-business {
    color: white;
    font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times,
      serif;
    font-size: 3rem;
    line-height: 1;
    padding: 9px;
  }
  .aversa-herbals-head-tag-contact-us {
    color: #266431;
    font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times,
      serif;
    font-size: 3rem;
    text-align: center;
    line-height: 1;
    padding: 9px;
  }
  .branch-image {
    display: none;
  }
  .business-opportunity-bg-padding {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 0px;
  }
  .business-opportunity-bg .custom-business-opportunity-home-page-row {
    margin-top: 0px;
  }
  .images-in-business-in-home-page {
    height: 300px;
    width: 100%;
    border-radius: 15px;
  }
  .business-opportunity-bg {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 20px;
  }
  .custom-div-in-top-products {
    padding-left: 5px;
    padding-right: 5px;
  }
  .product-list-product-image {
    height: 350px;
  }
  .product-list-product-image-below-div {
    background-color: #d9d9d9;
    padding: 10px;
    margin-top: -145px;
    border-radius: 11px;
  }
  .product-list-product-image-below-div-two {
    padding-top: 140px;
  }
  .product-list-component-padding {
    padding-left: 25px;
    padding-right: 25px;
  }
  .aversa-products-category-sectiopn {
    display: none;
  }
  .share-button-in-product-details {
    display: none;
  }
  .regi-stration-from-bg {
    background-color: white;
    padding: 10px;
    border-radius: 15px;
  }
  .cart-page-of-aversa-bg {
    background-color: #8080802b;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .nav-bar-of-aversa-cart-count-div {
    display: none;
  }
  .business-opp-image-text {
    display: none;
  }
  .non-display-things {
    display: none;
  }
  .display-mobile-abdul-image {
    display: block;
  }
  .web-navba-profile-screen {
    position: absolute;
    /* top: 60px; */
    right: 0;
    transform: translateX(-50%);
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 2.1);
    padding: 10px;
    border-radius: 25px;
  }

  /* akash css */
  .first-row-contact {
    /* width: 100%; */
    padding: 0.5em;
    margin: 0;
    border-radius: 5px;
  }
  .title-cu {
    top: 98%;
    left: 60%;
    font-size: 2.2rem;
  }
  .map {
    width: 100%;
    height: 500px;
  }
  .container-for-contact {
    width: 100%;
    /* padding: 0.5em; */
    margin: 0;
    border-radius: 5px;
  }
  .icons-row {
    display: block;
    align-items: center;
    justify-content: center;
  }
  .action-btn-contact {
    /* margin-left: 10%; */
  }
  .title-about {
    top: 98%;
    left: 60%;
    font-size: 2.2rem;
  }
  .antidiabetic-wrapper {
    height: 100vh;
  }

  .antidiabetic-title {
    font-size: 50px;
    line-height: 72px;
  }

  .antidiabetic-subtitle {
    font-size: 30px;
    line-height: 72px;
  }

  .antidiabetic-button {
    font-size: 18px;
    padding: 10px 20px;
  }
  .aversa-footer-background {
    padding: 30px;
    height: auto;
  }
  .join-us-form-containers {
    width: 100%;
  }
  .column-for-map-and-address-contact {
    height: auto;
  }
}
