.aversa-footer-background {
  /* background-color: rgb(22,98,51); */
  padding: 30px;
  background-image: url("../../Assets/footer.png");
  /* transformOrigin: '0 0'; */
  height: 400px;
}
.aversa-footer-background-two {
  background-color: rgba(255, 255, 255, 0.51);
  padding: 5.5em;
  border-radius: 11px;
}
.footer-slogan {
  color: black;
  font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  padding-top: 10px;
}

.website-footer-heading {
  color: black;
  font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  font-size: 30px;
}

.website-footer-para-tag {
  color: black;
  font-family: Prata, ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  cursor: pointer;
}
.alright-reserved-footer-text {
  font-family: Inter;
  font-size: 10px;
  font-weight: 400;
  line-height: 12.1px;
  text-align: center;
}
